<div>
  <form [formGroup]="carriageForm" class="carriage__form">
    <mat-form-field class="carriage__form__field">
      <mat-label>Name</mat-label>
      <input
        type="text"
        placeholder="Carriage's name"
        formControlName="name"
        matInput
        aria-label="Name"
      />
      <mat-hint *ngIf="this.isDuplicateName" class="form__error"
        >The carriage with this name already exists</mat-hint
      >
    </mat-form-field>
    <div class="form__error-container">
      <p class="form__error" *ngIf="this.isDuplicateName">
        The carriage with this name already exists
      </p>
    </div>
    <mat-form-field class="carriage__form__field">
      <mat-label>Rows</mat-label>
      <input
        type="number"
        formControlName="rows"
        placeholder="*max 50 rows"
        matInput
        aria-label="Rows"
      />
      <mat-hint *ngIf="rows?.invalid && rows?.touched && rows?.hasError('max')" class="form__error"
        >max 50 rows</mat-hint
      >
    </mat-form-field>
    <mat-form-field class="carriage__form__field">
      <mat-label>Left seats</mat-label>
      <input
        type="number"
        formControlName="leftSeats"
        placeholder="*max 5 seats"
        matInput
        aria-label="Left seats"
      />
      <mat-hint
        *ngIf="leftSeats?.invalid && leftSeats?.touched && leftSeats?.hasError('max')"
        class="form__error"
        >max 5 seats</mat-hint
      >
    </mat-form-field>
    <mat-form-field class="carriage__form__field">
      <mat-label>Right seats</mat-label>
      <input
        type="number"
        formControlName="rightSeats"
        placeholder="*max 5 seats"
        matInput
        aria-label="Right seats"
      />
    </mat-form-field>
    <mat-hint
      *ngIf="rightSeats?.invalid && rightSeats?.touched && rightSeats?.hasError('max')"
      class="form__error"
      >max 5 seats</mat-hint
    >
    <button
      class="carriage__form__button"
      mat-flat-button
      [disabled]="!carriageForm.valid"
      (click)="onSave()"
    >
      Save
    </button>
  </form>
  <app-carriage-schema *ngIf="carriageForm.valid" [carriage]="carriageData" [isDisabled]="true" />
</div>
